@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Avenue du Chant d'Oiseaux 24<br />
    BE 1310 La Hulpe<br />
    <abbr title="Phone">P:</abbr>
    02 672 83 04
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:Info@ASP.com">Info@ASP.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ASP.com">Marketing@ASP.com</a>
</address>