@model IEnumerable<HomeShareDAL.BienEchange>
@{
    ViewBag.Title = "Home Page";
}


<br>

<!-- default bootstrap carousel for index page -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../../Content/img/slider/1.jpg" alt=" ">
            <div class="carousel-caption">
                <h3>Titre du Bien</h3>
                <p>légende de la photo</p>
            </div>
        </div>

        <div class="item">
            <img src="../../Content/img/slider/2.jpg" alt=" ">
            <div class="carousel-caption">
                <h3>Titre du Bien</h3>
                <p>légende de la photo</p>
            </div>
        </div>

        <div class="item">
            <img src="../../Content/img/slider/3.jpg" alt=" ">
            <div class="carousel-caption">
                <h3>Titre du Bien</h3>
                <p>légende de la photo</p>
            </div>
        </div>

    </div>
</div>



<br /> <br />

<div class="container">
    <div class="derniersBiens">
        <h2>Derniers Biens en echange</h2>
        <div class="row text-center">


            @foreach (var item in Model)
            {
                Html.RenderPartial("_DerniersBiens", item);
            }

            @{
                int page = 1;
                int prev = -1;
                int Next = 2;
                if (Request.RequestContext.RouteData.Values["Page"] != null)
                {
                    page = int.Parse(Request.RequestContext.RouteData.Values["Page"].ToString());
                }
                if (page > 0)
                {
                    prev = page - 1;

                }
                if (page < ViewBag.tot)
                {
                    Next = page + 1;
                }

            }

        </div>

        <center>
            @if (page > 1)
            { <a href="~/Home/Index/Page-@prev"><<</a>}
            @page / @ViewBag.tot
            @if (page < ViewBag.tot)
            {<a href="~/Home/Index/Page-@Next">>></a>}
        </center>
    </div>
</div>


<div class="container">
    <div class="spacer">
        <div class="row">
            

            <div class="col-lg-4 col-sm-9 recent-view">

                <h3>About Us</h3>
                <p>
                    Wad 14 - Une chouette bande de développeuses
                </p>

            </div>




            <div class="meilleursEchanges">
                

                <div class="col-lg-8 col-sm-3 recommended">
                    <h3>Meilleurs &Eacute;changes</h3>

                    @foreach (var item in Model)
                    {
                        Html.RenderPartial("_MeilleursEchanges", item);
                    }


                </div>

            </div>
        </div>

    </div>
</div>

<br />
