@model IEnumerable<HomeShareDAL.Membre>
@{
    ViewBag.Title = "Index";
}



<div class="header">
    <a href="#"><img src="~/Content/img/logo.png" alt="Realestate"></a>
</div>
<div>
    <h2>Bonjour</h2>

  
    <ul class="pull-left">
        <li><a href="buysalerent.php">Mes biens</a></li>
        <li><a href="~/Member/Home/AjouterBienMembre">Ajouter un bien</a></li>
        <li><a href="~/Member/Home/EditBienMembre">Modifier un bien</a></li>
        <li><a href="buysalerent.php">Les demandes d'échange</a></li>
        <li><a href="~/Member/Home/LogOut">Se deconnecter</a></li>
    </ul>
</div>

